*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    }
#navbar-pinterest{

}
.finder{

}
#notifications{

}
#message{

}
#profile-img{

}
#content{

}
#pinterest-icon{

}
.card-image:hover{

}
@media screen {
    
}